<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class = "bg-light">

<!--Nav Bar-->
<nav class="navbar text-white" style="background-color: #8d90f3;">
  <div class="container-fluid">
    <a class="navbar-brand font-italic" href="#">Windy City Boutique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/items">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items/new">Add a New Item</a>
        </li>
        <!-- <li class="nav-item"> -->
          <li class ="nav-item">
            <% if (user) { %>
              <a  class= "nav-link" href="/logout">Log Out</a>
            <% } else { %>
              <a class= "nav-link" href="/auth/google">Login with Google</a>
            <% } %>
            </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!---->

<div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
  <button class="btn btn-outline-primary" type="button">     
    <% if (user) { %>
    <a href="/logout">Log Out</a>
  <% } else { %>
    <a href="/auth/google">Login with Google</a>
  <% } %>
</button>
</div>
<div class ="d-flex justify-content-sm-around flex-wrap">
<% allItems.forEach((el) => { %>
  <figure class="figure">
    <img src="<%=el.image%>" class ="h-100 w-100 d-block img-thumbnail border border-secondary" alt="<%=el.name%>">
  <figcaption class= "figure-caption text-center"><a href="/items/<%=el._id%>"><%=el.name%> - $<%=el.price%></a>
</figcaption>

</figure>
<% });%>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <nav class="navbar fixed-bottom" style="background-color: #8d90f3;">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#"></a>
      </div>
    </nav>
  </body>
</html>